.info {
  margin-top: 100px;
  margin-bottom: 102px;
}

.info__block {
  padding: 70px;
  padding-top: 40px;
  padding-bottom: 65px;
  background-color: #EBF8FF;
  border-radius: 24px;
  background-image: url(../img/icons/icon-bg.svg);
  background-repeat: no-repeat;
  background-size: 269px 269px;
  background-position: bottom right;
  
  .title-2 {
    margin-bottom: 52px;
  }
  
  .title-2::before {
    display: none;
  }
}

.info__text {
  padding-right: 50px;
  
  p {
    margin-bottom: 25px;
  }
}
